//colors//
$body-color: #e9e4e6;
$title-color: #9764c7;
$month-color: #69468b;
$input-background-dark: #099A97;
$text-main: #615a67;
$placeholder: white;
$counterBoxes: #97d5d3;

//breakpoints//
$mobile: 420px;
$tablet: 700px;

@mixin pageTitle-font{
    font-family: 'Pacifico', cursive;
    font-size: 70px;
    text-align: center;
    letter-spacing: 2px;
    color: $title-color;
    text-shadow: 3px 3px #15cda8;
}

@mixin texts-box{
    background-color: #dfd0ee;
    padding: 5px 10px;
    margin-bottom: 15px;
    display: flex;
    text-align: left;
    align-items: center;
    border: 3px solid $month-color;
    box-shadow: 5px 5px #c0b6b6;
    color: black;
    font-weight: bold;
    justify-content: space-between;
}

@mixin taskCounter-boxes{
    background-color: $counterBoxes;
    padding: 10px 18px;
    text-align: center;
    font-size: 14px;
}

body{
    background-color: $body-color;
    font-family: 'Nunito', sans-serif;
}

.container{
    margin: 0 auto;
    width: 60%;
    text-align: center;
    @media only screen and (max-width: $mobile){
        width: 85%;
    }
}

p.hide{
    display: none;
}

ul{
    list-style: none;
    padding: 0;
}

img.removeIcon, img.checkIcon{
    margin: 10px 10px 10px 0;
}

header{
    .pageTitle{
        margin-top: 30px;
        @include pageTitle-font();
        @media only screen and (max-width: $tablet){
            font-size: 50px;
            }
        @media only screen and (max-width: $mobile){
            font-size: 45px;
            }
        } 
    span{
        margin-left: 20px;
        color: $month-color;
        }
    }

div.input{
    width: 65%;
    height: 80px;
    background-color: $input-background-dark;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(44, 62, 80, 0.15);
    display: flex;
    align-items: center;
    margin: 0 auto;
    position: relative;
    @media only screen and (max-width: $mobile){
        width: 85%;
    }
    input{
        width: 85%;
        height: 64px;
        float: left;
        color: #fff;
        font-size: 15px;
        font-weight: 400;
        text-indent: 18px;
        padding: 0 60px 0 0;
        background: rgba(255, 255, 255, 0.4);
        border-radius: 5px;
        border: 0px;
    }
    a.addButton{ 
        color: white;
        font-size: 20px;
        text-shadow: 2px 2px $month-color;
        text-decoration: none;
        background-color: $title-color;
        width: 60px;
        height: 60px;
        right: 15px;
        border-radius: 100%;
        text-align: center;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
    }
}

.itemPending{
    @include texts-box();
    list-style: none;
}

.itemComplete{
    @include texts-box();
    list-style: none;
    text-decoration: line-through;
}

.anchorContainer{
    display: flex;
    margin-left: 10px;
    float: right;
}

main{
    .textPending{
        color: $text-main;
    }
    hr{
        width: 70%
    }
    .textComplete{
        color: $text-main;
    }
    .taskCounter{
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 30px;
        .counterPending{
            @include taskCounter-boxes();
            margin-right: 10px;
        }
        .counterComplete{
            @include taskCounter-boxes();
            margin-left: 10px;
        }
    }
}


